<!DOCTYPE html>
<html>
<head>
	<title>Passport Login | Dashboard</title>
	<link rel="stylesheet" href="/stylesheets/dashboard.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
   <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#if user}}
             <a class="navbar-brand" href="#">Passport System</a>
            {{else}}

             <a class="navbar-brand" href="#">Passport Login </a>
          {{/if}}

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {{{messages}}}

    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-success col-md-6 col-md-offset-3">{{msg}}</div>
      {{/each}}
    {{/if}}

  <div class="container">
    {{{body}}}
  </div>
 
<script src="/javascript/bootstrap.min.js"></script>
</body>
</html>
